@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



.home {
    padding: 0px 10px;
    padding-bottom: 100px;
}

.hero {
    max-width: 600px;
    margin: 80px auto;
    /*it will be aligned in center, 80px from top and bottom,  auto will add equal space from left and right side. */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.hero h1 {
    font-size: max(4wv, 36px);
    font-family: Nunito;
}

.hero p {
    width: 75%;
    color: black;
    line-height: 1.5;
    font-family: Nunito;
}

/* form style starts here */

.hero form {
    padding: 8px;
    width: 80%;
    background: linear-gradient(rgba(84, 3, 255, 0.15), rgba(105, 2, 153, 0.15));
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.hero input {
    flex: 1;
    /* use all available space in the row*/
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
    background: transparent;
    
}

.hero button {
    border: none;
    background: #7927ff;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

/* crypto-table style starts here */
.crypto-table {
    max-width: 1200px;
    margin: auto;
    background: linear-gradient(rgba(84, 3, 255, 0.15), rgba(105, 2, 153, 0.15));
    border-radius: 15px;
}

.table-layout {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1.5fr;

    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
}

.trading-volume {
    text-align: right;
}

.market-cap {

    text-align: center;
}

.price-change {

    text-align: center;
}

.table-layout:last-child {
    border: none
}

.table-layout div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-layout div img {
    width: 35px;
}

.table-layout .green {
    color: #36b73e;
    text-align: center
}

.table-layout .red {
    color: #ff4646;
    text-align: center
}

@media (max-width: 768px) {
    .table-layout {
        grid-template-columns: 0.5fr 2fr 1fr 2fr;
    }

    /* .price-change {
        display: none;
    } */

    .market-cap {
        display: none;
    }
    .trading-volume{
        display: none;
    }
}

@media (max-width: 500px) {
    .table-layout div img {
        width: 15px;
    }

    .table-layout {
        font-size: 13px;
    }
    .hero input{
        width: 100px;
    }
}